<body style="display: flex; justify-content: center;">
    <div style="border-right: solid black 1px; padding-right: 30px;">
        <h1>Add a new word</h1>
        <form action="/sessionwords/process/" method="POST">
            {% csrf_token %}
            <input type="text" name="word" id="word">
            <p>Choose color</p>
            <input type="radio" name="color" value="Red"> Red <br>
            <input type="radio" name="color" value="Green"> Green <br>
            <input type="radio" name="color" value="Blue"> Blue <br>
            <input type="checkbox" name="big" id="big" value="big">
            <label for="big">show in BIG fonts!</label>
            <br>
            <input type="submit" name="submit" id="submit" value="Add to Session">
        </form>
    </div>
    <div style="border-left: solid black 1px; padding-left: 30px;">
        <form action="/sessionwords/clear/">
            <input type="submit" value="Clear Session">
        </form>
        {% for word in words %}
        <p>
            <span style="color: {{ word.color }}; font-size: {{ word.size }}; font-weight: {{ word.weight }};">
              {{ word.word }}
            </span>
             - added on {{ word.createdat }}
        </p>
        {% endfor %}
    </div>
</body>